body {
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-weight: 800;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin: 60px auto 30 auto;
    line-height: 60px;
}

span{
    color: #10B981;
}

h2{
    font-family: serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #D5D4D8;
    margin-bottom: 100px;
}

button{
    display: inline-block;
    height: 50px;
    width: 250px;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    background-color: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
    color: #D5D4D8;
    font-size: 14px;
    margin-bottom: 30px;
}

hr{
    border: 1px solid #2F3E53;
    width: 80%;
}

p{
    color: #10B981;
    display: inline-block;
    width: 30%;
    background: #273549;
    border-radius: 6px;
    width: 400px;
    height: 40px;
    padding-top: 20px;
    margin: 30px;
}